h1 Users
p This view is visible to users with the administrator role.
        //     .bs-docs-grid
        //        .row-fluid.show-grid
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
        //            .span1 1
 .span11
    table.table.table-striped(data-ng-hide="loading")

        thead
                col(style='width: 15%;')
                col(style='width: 15%;')
                col(style='width: 15%;')
                col(style='width: 25%;')
                col(style='width: 10%;')
                col(style='width: 10%;')
                col(style='width: 5%;')
                col(style='width: 5%;')
                col(style='width: 5%;')
            tr
                th #
                th Username
                th Name
                th Email
                th Role
                th Title
                th c1
                th c1
                th c1

        tbody
            tr(data-ng-repeat="user in users")
                td {{ user.id }}
                td
                   i.icon-twitter(data-ng-show="user.provider === 'twitter'")
                   i.icon-facebook-sign(data-ng-show="user.provider === 'facebook'")
                   i.icon-google-plus-sign(data-ng-show="user.provider === 'google'")
                   |  {{ user.username }}
                td {{ user.name }}
                td {{ user.email }}
                td
                    span.label(data-ng-class='{"label-info": user.role == userRoles.user, "label-success": user.role == userRoles.admin}') {{ getUserRoleText(user.role) }}
                td {{ user.title }}
                td
                    a.btn.btn-sm.btn-primary(ng-click='new()') New
                td

                    a.btn.btn-sm.btn-warning(ng-click='edit(user)') Edit
                td
                    a.btn.btn-sm.btn-danger(href='/user/edit') Delete

  //      div(style='width: 100%; height: 350px;',class="gridStyle", ng-grid='gridOptions1')