h1 Users
p This view is visible to users with the administrator role.


#main-content
    input.search-query(style='width:100px', type='text', ng-model='filterText', placeholder='Filter')
    a.btn.btn-sm.btn-primary(ng-click='reset()') reset

 .span11
    table.table.table-striped(data-ng-hide="loading")

        thead
                col(style='width: 5%;')
                col(style='width: 15%;')
                col(style='width: 10%;')
                col(style='width: 35%;')
                col(style='width: 10%;')
                col(style='width: 10%;')
                col(style='width: 5%;')
                col(style='width: 5%;')
                col(style='width: 5%;')
            tr
                th status
                th #
                th User
                th Name
                th Email
                th Role
                th Title




        tbody

            tr(data-ng-repeat="user in users | filter:filterText | orderBy:username ")

                td
                    img(src='/linker/images/icon-online.png' ,data-ng-show="user.online === true")
                    img(src='/linker/images/icon-offline.png' ,data-ng-show="user.online === false")

                td {{ user.id }}
                td
                   i.icon-twitter(data-ng-show="user.provider === 'twitter'")
                   i.icon-facebook-sign(data-ng-show="user.provider === 'facebook'")
                   i.icon-google-plus-sign(data-ng-show="user.provider === 'google'")
                   |  {{ user.username }}
                td {{ user.name }}
                td {{ user.email }}
                td
                    span.label(data-ng-class='{"label-info": user.role == userRoles.user,"label-warning": user.role == userRoles.supervisor, "label-success": user.role == userRoles.admin}') {{ getUserRoleText(user.role) }}
                td {{ user.title }}
                td
                    a.btn.btn-sm.btn-primary(ng-click='new()') New
                td

                    a.btn.btn-sm.btn-warning(ng-click='edit(user)') Edit
                td
                    a.btn.btn-sm.btn-danger(ng-click='delete(user)') Delete
