vendorview.jade
p
    #inside
    #header
        h2 Vendors
            | - Jade VendorView

    #main-content

        h2 ng-grid
        input.search-query(style='width:100px', type='text', ng-model='gridOptions1.filterOptions.filterText', placeholder='Filter')

        button(ng-click='save()') Save
        button(ng-click='changeGrid()') ChangeGrid
        button(ng-click='testRoute()') testRoute /meetings/10/11/12

        div(class="selectedItems") {{mySelections}}
         // {{vendor | json }}
        div(style='width: 100%; height: 350px;',class="gridStyle", ng-grid='gridOptions1')



    #footer

        a.copyright(target='_blank', href='http://sailsjs.com') Built with Sails.js

